<div class="vista producto bottom" layout="column" layout-align="center">
	<h1>{{producto.nombre}}</h1>
	<p>{{producto.desc_corta}}</p>
	<div layout="row" layout-align="center center" class="img">
	  <img ng-src="{{producto.url_imagen}}" ng-cloack/>
	</div>

	<div class="contenedor">
		<h3>{{producto.precio | currency : "$ " : 0}}</h3>
		<div class="contador">
			<i ng-click="carrito.aumentarProducto(producto)" class="icon ico-mas"></i>
			<span>{{carrito.cantidad(producto._id)}}</span>
			<i ng-click="carrito.disminuirProducto(producto)" class="icon ico-menos"></i>
		</div>
	</div>

	<div layout="row" layout-align="start start" class="descripcion">
		<h3>Detalles</h3>
		<p>{{producto.desc_larga}}</p>
	</div>
</div>
