<ion-view title="Cleansuit">
	<ion-content class="pdBoton orden">

		<div class="titulo" ng-if="!formulario.titulo.texto">
			INFORMACIÓN DE ORDEN # {{carrito.infoOrden.codigo | numberFixedLen:4}}
		</div> 
		
		<div class="titulo" ng-if="formulario.titulo.texto">
			{{formulario.titulo.texto}}
		</div> 

		<form name="formInformacionOrden"> 
			<ion-list>
				<ion-item class="row" ng-hide="formulario.nombre.hide">
					<div class="col">
						<label class="item-input item-stacked-label izq">
							<span class="input-label">Nombres y Apellidos</span>
							<input type="text" placeholder="Nombres y Apellidos" ng-model="carrito.infoOrden.cliente_id.nombre" style="color: #000 !important; opacity: 1.0 !important" ng-disabled="formulario.nombre.disabled">
						</label>
					</div>
				</ion-item>
				
				<ion-item class="row" ng-hide="carrito.soloHayProductos() || formulario.recoleccion.direccion.hide">
					<div class="col item-icon-right">
						<label class="item-input item-stacked-label item-floating-label">
							<span class="input-label item-icon-right">Dirección de recolección</span>
							<input type="text" placeholder="Dirección de recolección " ng-model="carrito.infoOrden.orden.recoleccion.direccion" maxlength="100" ng-minlength="3" ng-maxlength="100" ng-disabled="formulario.recoleccion.direccion.disabled">
						</label>
						<i class="icon ion-location" ng-click="formulario.verMapa('DIRECCIONRECOLECCION')" ng-if="formulario.verificarPosicion(carrito.infoOrden.orden.recoleccion.posicion)"></i>
					</div>
				</ion-item>

				<ion-item class="row" ng-hide="carrito.soloHayProductos() || formulario.recoleccion.fecha.hide">
					<div class="col">
						<label class="item-input item-stacked-label">
							<span class="input-label">Fecha de recolección</span>
							<input id="inputFechaRecoleccion" type="date" placeholder="Fecha de recolección" ng-model="carrito.infoOrden.orden.recoleccion.fecha" ng-click="openPopover('FECHARECOLECCION', $event)" readonly required ng-disabled="formulario.recoleccion.fecha.disabled">
						</label>
					</div>
				</ion-item>

				<ion-item class="row" ng-hide="carrito.soloHayProductos() || formulario.recoleccion.hora.hide">
					<div class="col item-icon-right">
						<label class="item-input item-stacked-label item-floating-label">
							<span class="input-label item-icon-right">Hora de recolección</span>
							<input type="text" placeholder="Hora de recolección" ng-model="carrito.infoOrden.orden.recoleccion.hora" required style="color: #000 !important; opacity: 1.0 !important" ng-disabled="formulario.recoleccion.hora.disabled" />
						</label>
						<!--<i class="icon ico-flechaabajo" ng-click="openPopover('HORARECOLECCION', $event)"></i>-->
					</div>
				</ion-item>

				<ion-item class="row" ng-hide="formulario.entrega.direccion.hide">
					<div class="col item-icon-right">
						<label class="item-input item-stacked-label item-floating-label">
							<span class="input-label item-icon-right">Dirección de entrega</span>
							<input type="text" placeholder="Dirección de entrega" ng-model="carrito.infoOrden.orden.entrega.direccion" maxlength="100" ng-minlength="3" ng-maxlength="100" ng-disabled="formulario.entrega.direccion.disabled" />
						</label>
						<i class="icon ion-location" ng-click="formulario.verMapa('DIRECCIONENTREGA')" ng-if="formulario.verificarPosicion(carrito.infoOrden.orden.entrega.posicion)"></i>
					</div>
				</ion-item>

				<ion-item class="row" ng-hide="formulario.entrega.fecha.hide">
					<div class="col">
						<label class="item-input item-stacked-label">
							<span class="input-label">Fecha de entrega</span>
							<input id="inputFechaEntrega" type="date" placeholder="Fecha de entrega" ng-model="carrito.infoOrden.orden.entrega.fecha" ng-click="openPopover('FECHAENTREGA', $event)" readonly required ng-disabled="formulario.entrega.fecha" />
						</label>
					</div>
				</ion-item>

				<ion-item class="row" ng-hide="formulario.entrega.hora.hide">
					<div class="col item-icon-right">
						<label class="item-input item-stacked-label item-floating-label">
							<span class="input-label item-icon-right">Hora de entrega</span>
							<input type="text" placeholder="Hora de entrega" ng-model="carrito.infoOrden.orden.entrega.hora" required style="color: #000 !important; opacity: 1.0 !important" ng-disabled="formulario.entrega.hora.disabled" />
						</label>
						<!--<i class="icon ico-flechaabajo" ng-click="openPopover('HORAENTREGA', $event)"></i>-->
					</div>
				</ion-item>			
				
				<ion-item class="row" ng-hide="formulario.telefono.hide">
					<div class="col">
						<label class="item-input item-stacked-label item-floating-label">
							<span class="input-label item-icon-right">Teléfono de contacto</span>
							<input type="tel" placeholder="Teléfono de contacto" ng-model="carrito.infoOrden.orden.telefono" name="telefono"maxlength="10" ng-minlength="7" ng-maxlength="10" ng-disabled="formulario.telefono.disabled" />
						</label>
					</div>
				</ion-item>

				<ion-item class="row" ng-hide="formulario.formaPago.hide">
					<div class="col item-icon-right">
						<label class="item-input item-stacked-label item-floating-label">
							<span class="input-label item-icon-right">Forma de pago</span>
							<input type="text" placeholder="Forma de pago" ng-model="carrito.infoOrden.orden.formaPago" ng-disabled="formulario.formaPago.disabled" required style="color: #000 !important; opacity: 1.0 !important">
						</label>
						<i class="icon ico-flechaabajo" ng-click="formulario.construirPopover('FORMAPAGO',$event)" ng-if="formulario.formaPago.editable"></i>
					</div>
				</ion-item>

				<ion-item class="row" ng-hide="formulario.cupon.hide || carrito.infoOrden.orden.cupon.length == 0">
					<div class="col col-75">
						<label class="item-input item-stacked-label item-floating-label">
							<span class="input-label item-icon-right">Cupón de Descuento</span>
							<input type="text" placeholder="Cupón de descuento" ng-model="carrito.infoOrden.orden.cupon" ng-change="carrito.infoOrden.orden.cupon=carrito.infoOrden.orden.cupon.toUpperCase();" ng-disabled="formulario.cupon.disabled" >
						</label>
					</div>
				</ion-item>

				<ion-item class="row" ng-hide="formulario.abono.hide">
 					<div class="col">
 						<label class="item-input item-stacked-label item-floating-label">
 							<span class="input-label item-icon-right">Abono</span>
 							<input type="tel" placeholder="Abono" ng-model="carrito.infoOrden.orden.abono" name="abono" maxlength="12" ng-minlength="0" ng-disabled="formulario.abono.disabled">
 						</label>
 					</div>
 				</ion-item>

			</ion-list>

			<div ui-view="lista-carrito"></div>

			<resumen-totales totales="carrito.totales" ng-show="true || carrito.hayItems()" ng-hide="formulario.totales.hide"></resumen-totales>

			<!--<ion-list>
				<ion-item class="item-text-wrap terminos">
					<ion-checkbox ng-model="carrito.infoOrden.orden.terminosCondiciones" ng-checked="carrito.infoOrden.orden.terminosCondiciones"></ion-checkbox>
					<div class="enlace">
						Acepto los <a ng-click="abrirModalTC()">Términos y Condiciones.</a>
					</div>			
				</ion-item>
			</ion-list>-->
		</form>

		<elemento-centrado ng-hide="formulario.cancelar.hide">
			<a ng-click="cancelar()" class="cancelar">{{formulario.cancelar.texto}}</a>
		</elemento-centrado>
	</ion-content>

	<div class="bar bar-footer" ng-hide="formulario.siguiente.hide">
		<a ng-click="siguiente()" class="button button-calm button-full" ng-disabled="!formulario.valido">{{formulario.siguiente.texto}}</a>
	</div>

</ion-view>
