
<ion-modal-view hide-back-button="true" cache-view="false" id="{{idModal}}" class="modal-terminos">
	<ion-header-bar>
		<h1 class="title item-text-wrap">Términos y Condiciones</h1>
		<div class="button button-clear" ng-click="modalTC.hide()">
			<span class="icon icon-cerrarterm">
		</div>
	</ion-header-bar>

	<ion-content class="contenido">
		<div ng-bind-html="terminosCondiciones">
		</div>
		<div class="button-bar">
			<a class="button" ng-click="finalizarTC(false)">No Acepto</a>
		  <a class="button button-positive" ng-click="finalizarTC(true)">Acepto</a>		  
		</div>
	</ion-content>
</ion-modal-view>
