<ion-view title="Cleansuit">
	<ion-content class="pdBoton contcarro">

		<div class="titulo">
			ORDEN # {{carrito.infoOrden.codigo | numberFixedLen:4}}
		</div> 

		<div ui-view="lista-carrito"></div>

		<div class="card servicios"  ng-if="!carrito.hayProductos() && carrito.contProductos + carrito.contPrendas == 0">
			<div class="item item-text-wrap">
				Para agregar prendas y productos presiona el botón flotante.
			</div>
		</div>

		<resumen-totales totales="carrito.totales" ng-if="carrito.hayProductos() || carrito.contProductos + carrito.contPrendas > 0"></resumen-totales>

		<elemento-centrado>
			<a ng-click="cancelar()" class="cancelar"> Cancelar Orden</a>
		</elemento-centrado>
	
	</ion-content>
</ion-view>
