<ion-view title="Cleansuit">
	<ion-content class="has-footer addProductos">

		<div class="tituloOrden">
			ORDEN # {{carrito.infoOrden.codigo | numberFixedLen:4}}
		</div>
		<div class="contenedor">
			<div class="subtituloOrden">
				-AGREGAR PRODUCTOS-
			</div>

			<div ui-view="productos"></div>
		</div>
		

 		<elemento-centrado>
			<a ng-click="cancelarPedidoProductos()" class="cancelarPedido">Cancelar pedido productos</a>
		</elemento-centrado>
	</ion-content>

   <div class="bar bar-footer">
		<a ng-click="guardarPedidoProductos()" class="button button-calm guardar"> 
			GUARDAR PEDIDO
		</a>
	</div>
	
</ion-view>
