<ion-view title="Cleansuit">
	<ion-content class="ventaDirecta">
		<h1>Venta directa de productos</h1>
		<div class="contenedor">
			<h2 class="subtituloOrden">-Productos-</h2>
			<div ui-view="productos"></div>
		</div>	

		<elemento-centrado>
			<a ng-click="cancelarVentaDirecta()" class="enlace cancelar">Cancelar venta directa</a>
		</elemento-centrado>

	</ion-content>

	<div class="bar bar-footer" ng-hide="formulario.siguiente.hide" >
		<a ng-click="guardarPedidoProductos()" class="button button-calm button-full" ng-disabled="carrito.contProductos == 0">ENVIAR PEDIDO</a>
	</div>


</ion-view>
