<ion-side-menus enable-menu-with-back-views="false">

	<ion-side-menu-content edge-drag-threshold="true" drag-content="false">

		<ion-nav-bar class="bar-positive">
			<ion-nav-buttons side="right">
				<button class="button button-icon button-clear ico-cerrar" ng-click="logout()"></button>
			</ion-nav-buttons>
		</ion-nav-bar>

		<ion-tabs class="tabs-light">
			<ion-tab title="Recolección" ui-sref="app.panel" class="aIni tab-hidden" >
				<ion-nav-view name="contenedor-panel"></ion-nav-view>
			</ion-tab>
		</ion-tabs>

	</ion-side-menu-content>

</ion-side-menus>
