<ion-view title="Cleansuit">
	<ion-content class="orden procesos">

		<form name="formServicio" class="">

			<ion-list>
				<ion-item class="row listProcesos">
					<div class="col item-icon-right">
						<label class="item-input item-stacked-label item-floating-label">
							<span class="input-label item-icon-right tipServicio">Tipo de servicio</span>
						</label>
						<select ng-options="s as s.nombre for s in servicios track by s._id" ng-model="prenda.servicio" ng-change="cargarSubservicios()" required ></select>
						<i class="icon ico-flechaabajo"></i>
					</div>
				</ion-item>

				<ion-item class="row contenedor">
					<div class="col item-icon-right">
						<label class="item-input item-stacked-label item-floating-label">
							<span class="input-label item-icon-right">Código de identificación de la prenda</span>
							<input type="text" placeholder="Ingrese un código" ng-model="prenda.codigo" ng-minlength="3" ng-maxlength="100" ng-disabled="!esNueva" required>
						</label>
						<i class="icon icons-activar_cam" ng-click="escanearCodigo()" ng-hide="!esNueva"></i>

						<div class="prenda">
							<div class="imagen">
								<img ng-src="../img/promociones/promo1.jpg">
							</div>
							<h3>Pantalón de cuero</h3>
							<p>ID: 23889</p>
							<p>Lavado en seco - Planchado</p>
							<p>Orden # 2309</p>
						</div>

					</div>
				</ion-item>

				<ion-item class="row textarea">
					<div class="col">
						<label class="item-input item-stacked-label item-floating-label">
							<span class="input-label item-icon-right">Reportar novedad</span>
							<textarea placeholder="Reportar novedad" ng-model="prenda.comentario" ng-minlength="0" ng-maxlength="100"></textarea>
						</label>
					</div>
				</ion-item>

			</ion-list>
			<a ng-click="siguiente()" class="button button-positive button-full" ng-disabled="!formulario.valido"><!--{{formulario.siguiente.texto}}--> Enviar</a>
		</form>

		<div class="historial-prenda">
			<h3>Historial de prenda</h3>
			<ul class="listProcesos">
				<li class="afirmativo">
					<h2>Proceso 1</h2>
					<h3>Pantalón cuero</h3>
					<span>ID: 23889</span>
					<div class="estado"><span class="icon iconoafirmativo"></span></div>
				</li>
				<li class="negativo">
					<h2>Proceso 1</h2>
					<h3>Pantalón cuero</h3>
					<span>ID: 23889</span>
					<div class="estado"><span class="icon icononegativo"></span></div>
					<p class="novedad">
						Prenda presenta mancha ocasionada por detergente, se recomienda volver a proceso 1
					</p>
				</li>
			</ul>
		</div>

	</ion-content>

</ion-view>
