<ion-view title="Cleansuit">
	<ion-content class="pdBoton contcarro">

		<div class="titulo enviar">
			ENVIAR ORDEN {{ carrito.infoOrden.codigo ? '#' : ''}} {{carrito.infoOrden.codigo | numberFixedLen:4}}
		</div> 

		
		<div class="cont">
			<elemento-centrado class="arriba">
				<!--<i class="ion-paper-airplane"></i>-->
				<img ng-src="img/enviar.png">
				<p>¿Desea enviar la orden{{ carrito.infoOrden.codigo ? ' #' : ''}}{{carrito.infoOrden.codigo | numberFixedLen:4}}?</p>
				<button class="enviar" ng-click="enviar()">
					Enviar
				</button>
			</elemento-centrado>

			<elemento-centrado>
				<a ng-click="regresar()" class="cancelar"> Regresar a toma de orden</a>
		</elemento-centrado>
		</div>
		
	
	</ion-content>
</ion-view>
