<ion-view title="CleanSuit">
	<ion-content class="ord-en-proceso recogidas">

		<div class="titulo">
			<h3>{{formulario.orden.titulo}}</h3>
			<p>{{formulario.orden.descripcion}}</p>
		</div>
		
		<div clas="card" ng-if="!hayOrdenes()">
			<div class="item item-text-wrap">
				{{formulario.orden.noHayOrdenes}}
			</div>
		</div>

		<ion-refresher on-refresh="refrescar()"></ion-refresher>
		
		<ion-list ng-if="hayOrdenes()">
			<ion-item class="item-icon-right" ng-repeat="(index, infoOrden) in ordenes | orderBy:(historial == 'recolectadas' ? 'orden.recoleccion.fecha' : 'orden.entrega.fecha'):true track by $index" ng-click="verInformacionOrden(infoOrden)">

				<h3>{{carrito.getTipoVenta(infoOrden, estado)}}</h3>
				<h4>{{infoOrden.orden.entrega.fecha | date : "dd 'de' MMMM 'de' yyyy"}}</h4>
				<span># de orden: {{infoOrden.codigo | numberFixedLen:4}}</span>
				<i class="icon ico-flechader assertive"></i>
			</ion-item>
		</ion-list>	

	</ion-content>
</ion-view>
